.AdjustScoreBtn {
  display: flex;
}

.Label {
  width: 100%;
  text-align: center;
  padding: 32px 0;
  border: none;
  border-radius: 20px;
  background-color: #8b654eff;
  color: #fff;
  font-size: xx-large;
}

.Title {
  position: absolute;
  text-align: center;
  width: 100%;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
}
