/* .Container {
  position: relative;
  display: flex;
  flex-flow: column;
  height: 100%;

  gap: 19px;
  margin-top: -15px;
}

.StatsPanel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 19px;
} */
